# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env.production

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.json
*.txt
*.db
*.png
*.cjs
*.js
*.sh
*.ps1
*.py
.agent/
.qodo/
.kiro/
.shared/
.vscode/
.ruff_cash/
elmanassa_backend/
